<header class="container">
  <div class="row cabecalho">
      <div class="col-3 left">
          <div class="input-group input-group-sm mb-0">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="pesquisa"><img class="lupa_pesquisa" src="../assets/images/Lupa Pesquisa.png"></span>
              </div>
              <input type="text" class="form-control" id="pesquisa" placeholder="pesquise aqui..." aria-label="Pesquisa" aria-describedby="pesquisa" onfocus="this.value='';" onblur="this.value='';">
          </div>
      </div>
      <div class="col-6 center">
         <a routerLink="/"><img id="img_logo" src="../assets/images/Logo Game Mania 2.png" alt="Logotipo da aplicação Game Mania"></a>
      </div>
      <div class="col-3 right">
        <div class="acesso">
            <div class="usuario">
                <p><span *ngIf="verifUser()">Olá {{NomeUsuario}}</span></p>
            </div>
            <div class="botoes">
            <a routerLink="/"><img class="botoes_naveg" src="../assets/images/Botao Home.png" alt=""></a>
            <a *ngIf="!verifUser()" routerLink="/login"><img class="botoes_naveg" src="../assets/images/Botao Usuario.png" alt=""></a>
            <a *ngIf="verifUser()" routerLink="/editlogin"><img class="botoes_naveg" src="../assets/images/Botao Usuario.png" alt=""></a>
            <a href="#"><img class="botoes_naveg" src="../assets/images/Botao Carrinho.png" alt=""></a>
            </div>
        </div>
      </div>
  </div>
</header>