<section class="container justify-content-center rodape">
    <div class="rodape_col_row" style="width:100%;">
        <div class="rodape_atendimento_telefone flex-column">
            <div class="rodape_tamanho_atendimento"></div>
            <div class="rodape_atendimento_alinhamento align-items-center rodape_tamanho_atendimento">
                <span class="txt_branco_xl">Atendimento</span>
            </div>
            <div class="rodape_atendimento_alinhamento align-items-center rodape_tamanho_atendimento">
                <span class="txt_branco_sm">(21) 99999-9999</span>
            </div>
            <div class="rodape_tamanho_atendimento"></div>
            <div id="div_quebra" class="rodape_tamanho_atendimento"></div>
        </div>
        <div class="rodape_atendimento_email flex-column">
            <div id="div_quebra" class="rodape_tamanho_atendimento"></div>
            <div class="rodape_atendimento_alinhamento align-items-center rodape_tamanho_atendimento">
                <span class="txt_branco_xl">E-mails</span>
            </div>
            <div class="rodape_atendimento_alinhamento align-items-center rodape_tamanho_atendimento">
                <span class="txt_branco_sm">vendas@gamemania.com.br</span>
            </div>
            <div class="rodape_atendimento_alinhamento align-items-center rodape_tamanho_atendimento">
                <span class="txt_branco_sm">suporte@gamemania.com.br</span>
            </div>
            <div class="rodape_atendimento_alinhamento"></div>
        </div>
        <div class="rodape_atendimento rodape_game_mania justify-content-center flex-column">
           <div id="div_quebra" class="justify-content-center align-items-center h-25 w-100"></div>
           <div class="justify-content-center align-items-center h-25 w-100">
                <span class="justify-content-center align-items-center txt_branco_xl">Game Mania</span>
           </div>
           <div class="justify-content-center align-items-center h-25 w-100">
                <span class="justify-content-center align-items-center txt_branco_sm">Todos direitos reservados</span>
           </div>
           <div class="justify-content-center align-items-center h-25 w-100"></div>
        </div>
        <div id="div_quebra" class="rodape_atendimento"></div>
        <div class="rodape_atendimento rodape_botoes">
            <img class="botoes_naveg" src="../assets/images/whatsapp.png" alt="">
            <img class="botoes_naveg" src="../assets/images/instagram.png" alt="">
            <img class="botoes_naveg" src="../assets/images/facebook.png" alt="">
        </div>
    </div>
</section>