    <div>
        <a routerLink="/">
            <div class="container-fluig produto_item">
                <div class="dados_produto produto_item">
                    <div class="branco_produto">
                        <span>-</span>
                    </div>
                    <div class="{{Imagem}}"></div>  
                    <div class="nome_produto">
                        <span>{{Descricao}}</span>
                    </div>
                    <div class="branco_produto">
                        <span>-</span>
                    </div>
                    <div class="valor_anterior">
                        <span>{{Valor_anterior}}</span>
                    </div>
                    <div class="valor_novo">
                        <span>{{Valor_novo}}</span>
                    </div>
                    <div class="parcelamento">
                        <span>{{Parcelamento}}</span>
                    </div>
                </div>
            </div>
        </a>
    </div>