<section class="container d-flex justify-content-center propaganda">
    <div class="d-flex flex-column align-items-center justify-content-center w-100 texto_propaganda">
        <div class="d-flex align-items-end justify-content-center h-60 m-bottom-20" id="txt_nome_propaganda">
            <span>Na Game Mania você encontra o que há de mais novo no mundo dos games, além notebooks, desktops e muito mais!</span>
        </div>
        <div class="d-flex align-items-top justify-content-center h-40 m-top-20">
            <button id="button_confira" type="button" class="btn btn-warning">CONFIRA AQUI</button>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-100 imagem_propaganda">
        <img class="img_propaganda" src="../assets/images/Fundo 1.jpg">
        <div class="imagem_propaganda_transparencia">
        </div>            
        <!--
        <div class="d-flex align-items-center justify-content-center img_propaganda">
        </div>            
        -->
    </div>
</section>