/* BANNER */
.banner {
    height:380px;
    background-image: url("/assets/images/Banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .banner {
        background-image: url("/assets/images/Banner_tablet.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;       
    }
}